<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
    <a href="/boards/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <th><%= board.id %></th>
        <th><%= board.title %></th>
        <th><%= board.name %></th>
        <th><%= board.created_at.to_s(:datetime_jp) %></th>
        <th><%= board.updated_at.to_s(:datetime_jp) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
